.wall {
    fill: none;
    stroke: #211915;
    stroke-miterlimit: 10;
}
.door {
    fill: none;
    stroke: #211915;
    stroke-miterlimit: 10;
}
.reservedTable {
    fill: #FF9628;
}
.freeTable{
    fill: #FFF1BC;
}
.notReservable {
    fill: #AE5331;
}
.reservedByUser {
    fill: #1A1EF5;
}
FF9628